.submit-form {
  border: 2px solid rgb(255, 114, 114);
  border-radius: 1rem;
  max-width: 50%;
  width: 40rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.label-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

label {
  margin: 5px;
  align-items: left;
  font-size: large;
}

input,
select {
  border: 1px solid red;
  border-radius: 0.5rem;
  max-width: 50%;
  padding: 8px;
}

.submit-button {
  color: white;
  border: 1px solid rgb(5, 4, 4);
  border-radius: 0.5rem;
  background-color: rgb(60, 60, 206);
  width: 10rem;
  padding: 0.5rem;
  margin: 0 auto;
}
