.cart-items {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.cart-item-name {
  display: flex;
  justify-content: space-between;
  margin: 10px 28px 0 0;
  padding: 0 0 10px 0;
  width: 45%;
  border-bottom: 1px solid black;
  align-items: center;
}

.title {
  font: 18px;
  font-weight: 500;
}

.cart-item-name img {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}

.cart-items-price {
  margin: 10px 27px 0 0;
  padding: 0 0 10px 0;
  width: 35%;
  border-bottom: 1px solid black;
  display: flex;
  margin-top: 35px;
  font-weight: 500;
}

.cart-items-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 28px 0 0;
  padding: 0 0 10px 0;
  width: 35%;
  border-bottom: 1px solid black;
}

.cart-items-quantity input {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 8%;
  outline: none;
  text-align: center;
  margin-right: 20px;
}

.cart-items-quantity button {
  color: white;
  font-weight: bold;
  font-size: 13px;
  background: rgb(231, 76, 76);
  cursor: pointer;
  border: none;
  border-radius: 8%;
  height: 30px;
  outline: none;
  padding: 0px 7px;
}
