.item-list {
  text-align: center;
  margin: 10px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.list-items {
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
