.verify-email {
  display: flex;
  justify-content: center;
}

.verify-email button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}
